<br><br>
  <div class="row">
    <div class="container col-md-6">
      <div class="jumbotron py-3 fundoJumb">
        <h1 class="display-4 text-center TextJumb">Cursos</h1>
      </div>
      <form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
        <input type="hidden" name="cursoId" [value]="service.formData.cursoId" />
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Descrição*</label>
            <input (change)="apagaLabelDescricao()" (click)="validaDescricao()" class="form-control form-control-lg" placeholder="Descrição do Curso" name="descricao"
               type="text" title="descricao" id="descricao" #descricao="ngModel"
              [(ngModel)]="service.formData.descricao" required [class.invalid]="descricao.invalid && descricao.touched">
              <label style="color: red;" id="erro"></label>
          </div>

          <div class="form-group col-md-6">
            <label>Data Inicial*</label>
            <input (click)="validaDtInicio()" (change)="comparaData()" class="form-control form-control-lg" placeholder="DD/MM/AAAA" name="dtInicio" type="date"
               #dtInicio="ngModel" [(ngModel)]="service.formData.dtInicio" required
              [class.invalid]="dtInicio.invalid && dtInicio.touched" required>
              <label style="color: red;" id="erro2"></label>
          </div>

          <div class="form-group col-md-6">
            <label>Data Final*</label>
            <input (click)="validaDtTermino()" (change)="comparaData()" class="form-control form-control-lg" placeholder="DD/MM/AAAA" name="dtFim" type="date"
               #dtTermino="ngModel" [(ngModel)]="service.formData.dtTermino"
              [class.invalid]="dtTermino.invalid && dtTermino.touched" required>
              <label style="color: red;" id="erro3"></label>
          </div>

          <div class="form-group col-md-6">
            <label>Quantidade de Alunos</label>
            <input class="form-control form-control-lg" placeholder="Nº Alunos" name="qtdAlunos" type="number"
              #qtdAlunos="ngModel" [(ngModel)]="service.formData.qtdAlunos"
              [class.invalid]="qtdAlunos.invalid && qtdAlunos.touched">
          </div>

<!--  Caso necessite Fazer Manutenção use:
           <div class="form-group col-md-6">
            <input class="form-control form-control-lg" name="categoriaFk" type="hidden"
              #categoriaFk="ngModel" [(ngModel)]="service.formData.categoriaFk" required
              [class.invalid]="categoriaFk.invalid && categoriaFk.touched">
          </div> -->

          <div class="form-group col-md-5">
            <label for="tipo">Categoria*: </label>
            <select  class="form-control form-control-lg" aria-label="Default select example"
              (click)="getCategoriaId()" (change)="apagaLabelCategoria()" id="cmbTipo" name="categoria" type="text" required #categoria="ngModel"
              [(ngModel)]="service.formData.categoriaFk" [class.invalid]="categoria.invalid && categoria.touched">
              <option selected>Selecione uma Categoria: </option>
              <option *ngFor="let ct of serviceCategoria.listCategoria" value="{{ct.categoriaId}}">
                {{ct.categoria}}
              </option>
            </select>
            <label style="color: red;" id="erro4"></label>
          </div>

        </div>
        <div  class="form-group col-md-12">
          <button class="btn btn-outline-danger btn-lg btn-block" type="submit"
            [disabled]="form.invalid">Adicionar</button>
        </div>
      </form>
    </div>

    <div class="container col-md-6">
      <div class="container">
        <form class="d-flex">
          <input (change)="pesquisar()" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="pesquisa">
          <button (click)="pesquisar()" class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
        <br>
      </div>
        <table class="table">
          <thead style="background-color: rgb(46, 46, 46)">
            <tr>
              <th style="border-color: rgb(46, 46, 46)">ID</th>
              <th style="border-color: rgb(46, 46, 46)">descricao</th>
              <th style="border-color: rgb(46, 46, 46)">Data Inicio</th>
              <th style="border-color: rgb(46, 46, 46)">Data de Encerramento</th>
              <th style="border-color: rgb(46, 46, 46)">Qtd Alunos</th>
              <th style="border-color: rgb(46, 46, 46)">Categoria</th>
              <th style="border-color: rgb(46, 46, 46)"></th>
            </tr>
          </thead>
          <tbody *ngIf="catIdPesquisa == 0 && pesquisa == '' ">
            <tr *ngFor="let cr of service.list">
              <td style="border-color: rgb(46, 46, 46)" (click)="populateForm(cr)">{{cr.cursoId}}</td>
              <td style="border-color: rgb(46, 46, 46)" (click)="populateForm(cr)">{{cr.descricao}}</td>
              <td style="border-color: rgb(46, 46, 46)" (click)="populateForm(cr)">{{cr.dtInicio}}</td>
              <td style="border-color: rgb(46, 46, 46)" (click)="populateForm(cr)">{{cr.dtTermino}}</td>
              <td style="border-color: rgb(46, 46, 46)" (click)="populateForm(cr)">{{cr.qtdAlunos}}</td>
              <div style="border-color: rgb(46, 46, 46)" *ngFor="let ct of serviceCategoria.listCategoria">
              <td style="border-color: rgb(46, 46, 46)" *ngIf="cr.categoriaFk == ct.categoriaId" (click)="populateForm(cr)">{{ct.categoria}}</td>
              </div>
              <td style="border-color: rgb(46, 46, 46)">
                <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(cr.cursoId)"></i>
              </td>
            </tr>
          </tbody>
          <tfoot *ngFor="let cr of service.list">
            <tr *ngIf="cr.categoriaFk == this.catIdPesquisa || cr.dtInicio == this.pesquisa">
              <td (click)="populateForm(cr)">{{cr.cursoId}}</td>
              <td (click)="populateForm(cr)">{{cr.descricao}}</td>
              <td (click)="populateForm(cr)">{{cr.dtInicio}}</td>
              <td (click)="populateForm(cr)">{{cr.dtTermino}}</td>
              <td (click)="populateForm(cr)">{{cr.qtdAlunos}}</td>
              <div *ngFor="let ct of serviceCategoria.listCategoria">
              <td *ngIf="cr.categoriaFk == ct.categoriaId" (click)="populateForm(cr)">{{ct.categoria}}</td>
              </div>
              <td>
                <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(cr.cursoId)"></i>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

