<br><br>
  <div class="row">
    <div class="container col-md-6">
      <div class="jumbotron py-3 fundoJumb">
        <h1 class="display-4 text-center TextJumb">Adicione Seu Curso:{{this.serviceLog.nome}}</h1>
      </div>
      <form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
        <input type="hidden" name="logId" [value]="serviceLog.formLog.logId" />
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>dtInclusao*</label>
            <input class="form-control form-control-lg" placeholder="Descrição do Curso" name="dtInclusao"
               type="text" title="dtInclusao" id="dtInclusao" #dtInclusao="ngModel"
              [(ngModel)]="serviceLog.formLog.dtInclusao" [class.invalid]="dtInclusao.invalid && dtInclusao.touched">
              <label style="color: red;" id="dtInclusao"></label>
          </div>

          <div class="form-group col-md-12">
            <label>acao*</label>
            <input class="form-control form-control-lg" placeholder="Descrição do Curso" name="acao"
               type="text" title="acao" id="acao" #acao="ngModel"
              [(ngModel)]="serviceLog.formLog.acao"  [class.invalid]="acao.invalid && acao.touched">
              <label style="color: red;" id="acao"></label>
          </div>

          <div class="form-group col-md-12">
            <label>usuario*</label>
            <input class="form-control form-control-lg" placeholder="Descrição do Curso" name="usuario"
               type="text" title="usuario" id="usuario" #usuario="ngModel"
              [(ngModel)]="serviceLog.formLog.usuario" [class.invalid]="usuario.invalid && usuario.touched">
              <label style="color: red;" id="usuario"></label>
          </div>

      </form>
    </div>


